body {
  background: #544947;
  font-family: Montserrat, Arial, sans-serif;
}

.header {
  background: #f5f5f5;
}

#current-time-text {
  font-size: 60px;
}

#current-date-text {
  font-size: 40px;
}

#current-temperature-label {
  font-size: 30px;
  color: #c1c1c1;
}

#current_temperature {
  color: #222;
  font-size: 40px;
}

#current-time-icon {
  font-size: 80px;
}

.today {
  background: #FFA500;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 200;
}

.last-6-days {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 200;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 15px;
}

.data-item {
  color: #fff;
}

.data-item span {
  font-size: 30px;
}
