<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>My Weather</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro:200,400|Montserrat&display=swap">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<main class="container">
  <div class="row header px-5 py-3 justify-content-center">
    <div class="col-md-8">
      <div id="current-time"><span id="current-time-text"></span></div>
      <div id="current-date"><span id="current-date-text"></span></div>
      <div id="current-temperature-label">Temperature</div>
      <div id="current_temperature"></div>
    </div>
    <div class="col-md-4 my-5 py-5 border-left text-center">
      <i class="fas" id="current-time-icon"></i>
    </div>
  </div>

  <div class="row today rounded-bottom">
    <div class="container">
      <div class="row p-1 justify-content-center">
        <div class="col-md-2 data-item">
          <h2>TODAY</h2>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>TEMPERATURE</h3>
          <span class="temperature"></span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>PRESSURE</h3>
          <span class="pressure_mb"></span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>RAIN</h3>
          <span class="rain"></span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>HUMIDITY</h3>
          <span class="humidity"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row last-6-days rounded-bottom">
    <div class="container">
    {% for datum in last_6_days_weather_data %}
      <div class="row p-2 justify-content-center">
        <div class="col-md-2 data-item">
          <h2>{{ datum.day|upper }}</h2>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>TEMPERATURE</h3>
          <span class="temperature">{{ datum.temperature|upper }}</span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>PRESSURE</h3>
          <span class="pressure_mb">{{ datum.pressure_mb|upper }}</span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>RAIN</h3>
          <span class="rain">{{ datum.rain|upper }}</span>
        </div>
        <div class="col-md-2 data-item text-center">
          <h3>HUMIDITY</h3>
          <span class="humidity">{{ datum.humidity|upper }}</span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>let $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
{# https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/#where-is-my-site #}
<script src="{{ url_for('static', filename='script.js') }}"></script>
